In [2]:
import pandas as pd
import glob, os

In [11]:
#directory
file = glob.glob(os.path.join(os.getcwd(), "data_files","*"))

In [24]:
df = pd.read_excel(file[0], sheet_name='testlogs')
d = df.loc[df['Emp ID'] == 121]
d.head(1)

,Emp ID,Name,Time,Attendance State,Display Name
12227,121,June Alexis.Santos,2023-07-17 12:05:57,Check In,June Alexis Santos

In [25]:
dt = d.Name.unique()
dt

array(['June Alexis.Santos'], dtype=object)